<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">{{data.educationTitle}}</div>

      <div class="card"  *ngFor="let d of data.schools">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>{{d.period}}</p>
              <div class="h5">{{d.school}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{d.educationTitle}}</div>
               <h4 class="category">{{d.category}}</h4>
               <ul  *ngFor="let s of d.lines">
                <li>{{ s }}</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>