.blog-entry {
    width: 100%;
    float: left;
    background: #fff;
    margin-bottom: 3em; }
    @media screen and (max-width: 768px) {
      .blog-entry {
        margin-bottom: 3em; } }
    .blog-entry .blog-img {
      width: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin-bottom: 25px; }
      .blog-entry .blog-img img {
        position: relative;
        max-width: 100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .blog-entry .desc h3 {
      font-size: 16px;
      margin-bottom: 25px;
      line-height: auto;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Quicksand", Arial, sans-serif; }
      .blog-entry .desc h3 a {
        color: #000;
        text-decoration: none; }
    .blog-entry .desc span {
      display: block;
      margin-bottom: 20px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4) !important;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700; }
      .blog-entry .desc span small i {
        color: #999999; }
    .blog-entry .desc .lead {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #000; }
    .blog-entry:hover .blog-img img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
  
      .blog-entry h4{
        font-weight:560;
        margin-top: 8px;
        font-size: 20px;
      }
  
        .blog-entry h5{
             line-height: normal;
            font-weight:500;
            font-size:1.3em;
            color: black
           
        }