<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Angular8</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
            <h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>
           
          <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/p2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio Using Django</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,Bootstrap3 </h5>
    
            <h5 class="card-text"><a href="http://msgc320.pythonanywhere.com/">View my Live Demo</a></h5>
    
        <a href="https://medium.com/@mehulkothari05/personal-portfolio-using-django-dba49c355905" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
          <a href="https://github.com/mehulk05/My-Personal-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p44.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Matrimonial Website(Live Project)</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
            <h5 class="card-text"><a href="http://www.brahmanvarvadhusuchak.com/">View my Live Demo</a></h5>
        <a href="https://medium.com/@mehulkothari05/matrimonial-website-9cd5247f477d" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Matrimonial-Website" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Movie Success Prediction(Hackathon)</h4>
           <h5 class="card-text"><b>Technology :</b> Django,Python,ML,DataScience </h5>
           <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1"> Read Blog on this  Project</a></h5>
        <a href="https://medium.com/@mehulkothari05/movie-success-prediction-a67d871a7b1" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Smart Baby Stroller(Final Year)</h4>
           <h5 class="card-text"><b>Technology :</b> Python,Android,Firebase </h5>
             <h5 class="card-text"><a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a"> Read Blog on this  Project</a></h5>
          <a href="https://medium.com/@mehulkothari05/smart-baby-stroller-system-3f6b4f49476a" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Smart-Baby-Stroller-System.git" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">Simple Chat Application Using Firebase</h4>
           <h5 class="card-text"><b>Technology :</b> Android,Java,Firebase </h5>
             <h5 class="card-text"><a href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397"> Read Blog on this  Project</a></h5>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05?tab=repositories" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/p8.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Know Your Disease</h4>
          <h5 class="card-text"><b>Technology :</b> HTML5,CSS3,JS,MYSQL,PHP </h5>
         <a href="https://github.com/mehulk05/Know-Your-Disease" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Know-Your-Disease" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/p9.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Pizza Ordering System</h4>
           <h5 class="card-text"><b>Technology :</b> Java,Servlet,JSP,JDBC </h5>
       <a href="https://github.com/mehulk05/Pizza-Ordering-System" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
          <a href="https://github.com/mehulk05/Pizza-Ordering-System" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>