<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
   <!--   <div class="page-header-image" data-parallax="true">
         style="background-image: url('{{ data.imageBackGroundUrl }}');" 
      </div>-->
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="{{ data.imageProfileUrl }}" alt="Image" />
            </a>
          </div>
          <div class="h2 title">{{ data.fullName }}</div>
          <p class="category text-white">{{ data.shortDescription }} </p>
          <a class="btn btn-primary smooth-scroll mr-2" href="{{b.linkUrl}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"  *ngFor="let b of data.buttons">{{b.description}}</a>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="{{ s.profileUrl }}" target="_blank" rel="tooltip" title="{{ s.followMeText }}"  *ngFor="let s of data.socials">
              <i class="fa fa-{{ s.socialId }}"></i>
            </a>
          </div>
        </div>
      </div>

  </div>
</div>
</div>