/* You can add global styles to this file, and also import other style files */
div,p,h1,h2,h3,h4,h5,h6,li,span{
    font-family: 'Poppins', sans-serif !important;
}
.ngx-pagination {
    margin: 0 auto;
    text-align: center;
}

.ngx-pagination li {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
}